<h1>ERP - Admin - Create/Edit/Delete Admins</h1>

<h3>Edit/Delete Admins</h3>
<table>
	<thead>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Username</th>
		<th>Password</th>
		<th>Account Created</th>
		<tbody>
		{{#each users}}
		<tr>
			<td>{{first_name}}</td>
			<td>{{last_name}}</td>
			<td>{{email}}</td>
			<td>{{password}}</td>
			<td>{{account_created}}</td>
			<td><button onclick='deleteUser({{user_id}})'>Delete</td>
			<td><a href="/admin-crud-users/{{user_id}}">Update</a></td>
		</tr>
		{{/each}}
	</thead>
</table>

<h3>Create New Admin Account</h3>
<form name='create_admin' action='/admin-crud-admins' method='post'>

	First Name:<br>
	<input type='text' name='first_name'><br>
	Last Name:<br>
	<input type='text' name='last_name'><br>

	Email:<br>
	<input type='text' name='email'><br>
	Password:<br>
	<input type='password' name='password'><br>

	<input type='submit' value="Create Account">
</form>